.container-slideshow {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.img-slideshow {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    max-width: 100%;
    animation: zoomIn 8s ease;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.overlay-slideshow {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    display: flex;
    padding-right: 120px;
    padding-left: 120px;
    align-items: center;

    p {
        max-width: 800px;
        padding-left: 32px;
        color: white;
        font-size: 80px;
        text-align: center;
        border-left: 8px solid rgb(244, 83, 83);
    }
}

.fadeIn{
    animation: fadeInAnimation 1s ease-in-out;
}

@keyframes fadeInAnimation{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}